doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport' content='width=device-width')
		link(rel="stylesheet", href="css/main.min.css")
		title Business
		block Landing
	body Hi  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aperiam nobis numquam ullam modi, possimus ducimus at sint sequi voluptas placeat debitis minima reprehenderit accusantium consequatur repellendus harum beatae ea!